::-webkit-scrollbar {
    display: none;
}

body {
    background-image: url("/images/wallpaper.png") !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center !important;
    background-attachment: fixed !important;
    width: 100% !important;
}